<nav class="container-fluid bg-success">
    <div class="text-center d-flex align-items-center justify-content-center nav-brand">
        <a href="/"><i class="fas fa-user m-right"></i>User Management System</a>
    </div>
</nav>