<!-- Header -->
<%- include('includes/_header') -%>
    <!-- Header -->
    <!-- Header -->
    <header class="mb-5">
        <%- include('includes/_nav-brand') -%>
    </header>
    <div class="container col-md-12 col-lg-6">
        <a href="/" class="btn btn-light fw-bold"><i class="fas fa-angle-double-left"></i><span> All Users</span></a>
    </div>
    <!-- main -->
    <main class="container">
        <h4 class="text-center">New User</h4>
        <div class="text-center mb-5">
            <small class="text-muted ">Use below form to Add New User</small>
        </div>
        <%- include('includes/_addForm') -%>
    </main>
    <!-- main -->
    <!-- footer -->
    <%- include('includes/_footer') -%>
        <!-- footer -->