<!-- Header -->
<%- include('includes/_header') -%>
    <!-- Header -->
    <header class="mb-5">
        <%- include('includes/_nav-brand') -%>
    </header>
    <div class="container mb-3">
        <a href="/add-user" class="btn btn-light"><i class="fas fa-user padding-right text-primary"></i>New User</a>
    </div>
    <!-- main -->
    <main class="container">
        <table class="mx-auto table-responsive table table-bordered table-hover table-striped ">
            <thead class="table-head-color font-color">
                <tr>
                    <th> Id </th>
                    <th> Name </th>
                    <th> Email </th>
                    <th> Gender </th>
                    <th> Status </th>
                    <th style="width: 20%;" class="text-center"> Action </th>
                </tr>
            </thead>
            <tbody>
                <%- include('includes/_userData') -%>
            </tbody>
        </table>
    </main>
    <!-- main -->
    <!-- footer -->
    <%- include('includes/_footer') -%>
        <!-- footer -->